In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:


df = pd.read_csv('tshirts.csv')

df

   Height  Weight   Color    Size
0     6.1     225  yellow   large
1     5.5     150     red  medium
2     5.2     175   white   small

In [3]:
df.columns

Index(['Height', 'Weight', 'Color', 'Size'], dtype='object')

In [4]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
df.index = ["John", "Mary", "Tom"]

In [6]:
df

      Height  Weight   Color    Size
John     6.1     225  yellow   large
Mary     5.5     150     red  medium
Tom      5.2     175   white   small

In [7]:
df.loc['John']

Height       6.1
Weight       225
Color     yellow
Size       large
Name: John, dtype: object

In [8]:
type(df.loc['John'])

pandas.core.series.Series

In [9]:
df.iloc[0,:]

Height       6.1
Weight       225
Color     yellow
Size       large
Name: John, dtype: object

In [10]:
df.loc["John"].to_list

<bound method IndexOpsMixin.tolist of Height       6.1
Weight       225
Color     yellow
Size       large
Name: John, dtype: object>