In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../game_sales.csv")

In [5]:
df.head(5)

  Platform  Global_Sales  EU_Sales Release_Date
0      Wii         82.74     29.02          mid
1      NES         40.24      3.58        older
2      Wii         35.82     12.88          mid
3      Wii         33.00     11.01          mid
4       GB         31.37      8.89        older

In [6]:
ten_games = df[:10]

In [7]:
ten_games

  Platform  Global_Sales  EU_Sales Release_Date
0      Wii         82.74     29.02          mid
1      NES         40.24      3.58        older
2      Wii         35.82     12.88          mid
3      Wii         33.00     11.01          mid
4       GB         31.37      8.89        older
5       GB         30.26      2.26        older
6       DS         30.01      9.23          mid
7      Wii         29.02      9.20          mid
8      Wii         28.62      7.06          mid
9      NES         28.31      0.63        older

In [8]:
platform = ten_games['Platform'].to_list()

In [10]:
def get_cat_dist_matrix(list):
    distance_matrix = []
    for i in range(len(list)):
        distance_row = []
        for j in range(len(list)):
            if list[i] == list[j]:
                distance = 0
            else:
                distance = 1
            distance_row.append(distance)
        distance_matrix.append(distance_row)
    return distance_matrix

platform_distance_matrix = get_cat_dist_matrix(platform)

In [11]:
platform_distance_matrix

[[0, 1, 0, 0, 1, 1, 1, 0, 0, 1],
 [1, 0, 1, 1, 1, 1, 1, 1, 1, 0],
 [0, 1, 0, 0, 1, 1, 1, 0, 0, 1],
 [0, 1, 0, 0, 1, 1, 1, 0, 0, 1],
 [1, 1, 1, 1, 0, 0, 1, 1, 1, 1],
 [1, 1, 1, 1, 0, 0, 1, 1, 1, 1],
 [1, 1, 1, 1, 1, 1, 0, 1, 1, 1],
 [0, 1, 0, 0, 1, 1, 1, 0, 0, 1],
 [0, 1, 0, 0, 1, 1, 1, 0, 0, 1],
 [1, 0, 1, 1, 1, 1, 1, 1, 1, 0]]

In [21]:
def normalize(x,min, max):
    return (x-min)/(max-min)

def normalize_list(list):
    l_nor = []
    for x in list:
        l_nor.append(round(normalize(x, min(list), max(list)), 2))
    return l_nor

global_norm = normalize_list(ten_games["Global_Sales"].to_list())

In [25]:
import math

def manhattan_distance(list_nor, i, j,rounding):
    return round(math.fabs(list_nor[i] - list_nor[j]),rounding)

def get_num_distance_matrix(list_nor):
    distance_matrix = []
    for i in range(len(list_nor)):
        distance_row = []
        for j in range(len(list_nor)):
            distance = manhattan_distance(list_nor, i,j,2)
            distance_row.append(distance)
        distance_matrix.append(distance_row)
    return(distance_matrix)

global_distance_matrix = get_num_distance_matrix(global_norm)
global_distance_matrix

[[0.0, 0.78, 0.86, 0.91, 0.94, 0.96, 0.97, 0.99, 0.99, 1.0],
 [0.78, 0.0, 0.08, 0.13, 0.16, 0.18, 0.19, 0.21, 0.21, 0.22],
 [0.86, 0.08, 0.0, 0.05, 0.08, 0.1, 0.11, 0.13, 0.13, 0.14],
 [0.91, 0.13, 0.05, 0.0, 0.03, 0.05, 0.06, 0.08, 0.08, 0.09],
 [0.94, 0.16, 0.08, 0.03, 0.0, 0.02, 0.03, 0.05, 0.05, 0.06],
 [0.96, 0.18, 0.1, 0.05, 0.02, 0.0, 0.01, 0.03, 0.03, 0.04],
 [0.97, 0.19, 0.11, 0.06, 0.03, 0.01, 0.0, 0.02, 0.02, 0.03],
 [0.99, 0.21, 0.13, 0.08, 0.05, 0.03, 0.02, 0.0, 0.0, 0.01],
 [0.99, 0.21, 0.13, 0.08, 0.05, 0.03, 0.02, 0.0, 0.0, 0.01],
 [1.0, 0.22, 0.14, 0.09, 0.06, 0.04, 0.03, 0.01, 0.01, 0.0]]

In [26]:
eu_norm = normalize_list(ten_games["EU_Sales"].to_list())
eu_distance_matrix = get_num_distance_matrix(eu_norm)
eu_distance_matrix

[[0.0, 0.9, 0.57, 0.63, 0.71, 0.94, 0.7, 0.7, 0.77, 1.0],
 [0.9, 0.0, 0.33, 0.27, 0.19, 0.04, 0.2, 0.2, 0.13, 0.1],
 [0.57, 0.33, 0.0, 0.06, 0.14, 0.37, 0.13, 0.13, 0.2, 0.43],
 [0.63, 0.27, 0.06, 0.0, 0.08, 0.31, 0.07, 0.07, 0.14, 0.37],
 [0.71, 0.19, 0.14, 0.08, 0.0, 0.23, 0.01, 0.01, 0.06, 0.29],
 [0.94, 0.04, 0.37, 0.31, 0.23, 0.0, 0.24, 0.24, 0.17, 0.06],
 [0.7, 0.2, 0.13, 0.07, 0.01, 0.24, 0.0, 0.0, 0.07, 0.3],
 [0.7, 0.2, 0.13, 0.07, 0.01, 0.24, 0.0, 0.0, 0.07, 0.3],
 [0.77, 0.13, 0.2, 0.14, 0.06, 0.17, 0.07, 0.07, 0.0, 0.23],
 [1.0, 0.1, 0.43, 0.37, 0.29, 0.06, 0.3, 0.3, 0.23, 0.0]]

In [29]:
release_date_ranks = ['older', 'mid', 'new']

def get_ord_distance_matrix(list, rank_list):
    distance_matrix = []
    for i in list:
        distance_row = []
        for j in list:
            distance = round(math.fabs((rank_list.index(i) - rank_list.index(j))/(len(rank_list)- 1)),3)
            distance_row.append(distance)
        distance_matrix.append(distance_row)
    return distance_matrix

release_date_distance_matrix = get_ord_distance_matrix(ten_games["Release_Date"].to_list(), release_date_ranks)
release_date_distance_matrix

[[0.0, 0.5, 0.0, 0.0, 0.5, 0.5, 0.0, 0.0, 0.0, 0.5],
 [0.5, 0.0, 0.5, 0.5, 0.0, 0.0, 0.5, 0.5, 0.5, 0.0],
 [0.0, 0.5, 0.0, 0.0, 0.5, 0.5, 0.0, 0.0, 0.0, 0.5],
 [0.0, 0.5, 0.0, 0.0, 0.5, 0.5, 0.0, 0.0, 0.0, 0.5],
 [0.5, 0.0, 0.5, 0.5, 0.0, 0.0, 0.5, 0.5, 0.5, 0.0],
 [0.5, 0.0, 0.5, 0.5, 0.0, 0.0, 0.5, 0.5, 0.5, 0.0],
 [0.0, 0.5, 0.0, 0.0, 0.5, 0.5, 0.0, 0.0, 0.0, 0.5],
 [0.0, 0.5, 0.0, 0.0, 0.5, 0.5, 0.0, 0.0, 0.0, 0.5],
 [0.0, 0.5, 0.0, 0.0, 0.5, 0.5, 0.0, 0.0, 0.0, 0.5],
 [0.5, 0.0, 0.5, 0.5, 0.0, 0.0, 0.5, 0.5, 0.5, 0.0]]

In [ ]:
weights = [.25, .25, .25, .25]

distance_matrices = [platform_distance_matrix, global_distance_matrix, eu_distance_matrix, release_date_distance_matrix]

def get_mixed_distance_matrix(weights, matrices):
    matrix_length = len(matrices[0])
    for i in range(len(matrix_length):