In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("tshirts_header.csv")

In [3]:
df

   Height  Weight   Color    Size
0     6.1     225  yellow   large
1     5.5     150     red  medium
2     5.2     175   white   small

In [5]:
df['Height'].to_list()

[6.1, 5.5, 5.2]

In [6]:
heights = df['Height'].to_list()

In [7]:
df.to_dict()

{'Height': {0: 6.1, 1: 5.5, 2: 5.2},
 'Weight': {0: 225, 1: 150, 2: 175},
 'Color': {0: 'yellow', 1: 'red', 2: 'white'},
 'Size': {0: 'large', 1: 'medium', 2: 'small'}}

In [8]:
df.to_dict('records')

[{'Height': 6.1, 'Weight': 225, 'Color': 'yellow', 'Size': 'large'},
 {'Height': 5.5, 'Weight': 150, 'Color': 'red', 'Size': 'medium'},
 {'Height': 5.2, 'Weight': 175, 'Color': 'white', 'Size': 'small'}]

In [9]:
df.to_dict('list')

{'Height': [6.1, 5.5, 5.2],
 'Weight': [225, 150, 175],
 'Color': ['yellow', 'red', 'white'],
 'Size': ['large', 'medium', 'small']}

In [16]:
fin = open('courses.txt', "r")

In [17]:
courses_raw = []
for i in fin:
    courses_raw.append(i)
fin.close()

In [18]:
print(courses_raw)

['CS120, CS121, CS495, CS230\n', 'CS230, CS418, CS455\n', 'CS455, CS421, CS103']

In [19]:
courses_entries = []
for l in courses_raw:
    raw = l.strip().split(",")
    course_list = []
    for x in raw:
        course_list.append(x.strip())
    courses_entries.append(course_list)
courses_entries

[['CS120', 'CS121', 'CS495', 'CS230'],
 ['CS230', 'CS418', 'CS455'],
 ['CS455', 'CS421', 'CS103']]

In [21]:
unique_courses = []
for course_list in courses_entries:
    for course in course_list:
        unique_courses.append(course)
unique_courses = list(set(unique_courses))
unique_courses

['CS455', 'CS421', 'CS121', 'CS418', 'CS230', 'CS495', 'CS120', 'CS103']

In [23]:
unique_courses.sort()
unique_courses

['CS103', 'CS120', 'CS121', 'CS230', 'CS418', 'CS421', 'CS455', 'CS495']

In [25]:
final_table = []
for i in range(len(courses_entries)):
    result = []
    for name in unique_courses:
        if name in courses_entries[i]:
            result.append(1)
        else:
            result.append(0)
    final_table.append(result)
final_table

[[0, 1, 1, 1, 0, 0, 0, 1], [0, 0, 0, 1, 1, 0, 1, 0], [1, 0, 0, 0, 0, 1, 1, 0]]

In [28]:
df_test = pd.DataFrame(final_table, columns=unique_courses, index=['John', 'Mary', 'Tom'])
df_test

      CS103  CS120  CS121  CS230  CS418  CS421  CS455  CS495
John      0      1      1      1      0      0      0      1
Mary      0      0      0      1      1      0      1      0
Tom       1      0      0      0      0      1      1      0